/* ==|== primary styles =====================================================
   Author: Joey Cody
   ========================================================================== */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

.main-call {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

.sub-call {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight:400;
}